<!-- Modal Privacidad -->
<div *ngIf="showPrivacidad" class="modal fade show d-block" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark text-white p-4">
      <h5>Política de Privacidad</h5>
      <p>Esta es la información relacionada con nuestra política de privacidad...</p>
      <button class="btn btn-light mt-3" (click)="showPrivacidad = false">Cerrar</button>
    </div>
  </div>
</div>

<!-- Modal Términos -->
<div *ngIf="showTerminos" class="modal fade show d-block" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark text-white p-4">
      <h5>Términos y Condiciones</h5>
      <p>Estos son los términos y condiciones de uso del sitio...</p>
      <button class="btn btn-light mt-3" (click)="showTerminos = false">Cerrar</button>
    </div>
  </div>
</div>

<!-- Footer Principal -->
<div class="container-fluid bg-dark text-white py-5 px-sm-3 px-lg-5" style="margin-top: 90px;">
  <div class="row pt-5">
    <div class="col-lg-7 col-md-12">
      <div class="row">
        <div class="col-md-6 mb-5">
          <h5 class="text-primary text-uppercase mb-4" style="letter-spacing: 5px;">Contáctanos</h5>
          <p><i class="fa fa-envelope mr-2"></i> {{correo}}</p>
        </div>
        <div class="col-md-6 mb-5">
          <h5 class="text-primary text-uppercase mb-4" style="letter-spacing: 5px;">Nuestros Servicios</h5>
          <div class="d-flex flex-column">
            <a *ngFor="let service of services"
               class="text-white mb-2"
               routerLink="services">
              <i class="fa fa-angle-right mr-2"></i>{{ service.label }}
            </a>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>

<!-- Footer Inferior -->
<div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5">
  <div class="row">
    <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
      <p class="m-0 text-white">
        &copy;
        <a class="text-primary" href="#">Centro JuanPabloII</a>. Todos los Derechos Reservados.
      </p>
    </div>
    <div class="col-lg-6 text-center text-md-right">
      <ul class="nav d-inline-flex">
        <li class="nav-item">
          <a class="nav-link text-white py-0 cursor" (click)="showPrivacidad = true">Privacidad</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white py-0 cursor" (click)="showTerminos = true">Términos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white py-0" routerLink="about" >Ayuda</a>
        </li>
      </ul>
    </div>
  </div>
</div>
