<div class="flex h-screen bg-background text-textDark overflow-hidden transition-colors duration-300">
  <app-sidebar class="flex-shrink-0 z-20"></app-sidebar>
  <div class="flex-1 flex flex-col h-screen overflow-hidden relative">
    <app-header class="z-10"></app-header>
    <main class="flex-1 overflow-y-auto p-4 md:p-6 lg:p-8 custom-scrollbar relative">
      <div [@routeAnimations]="prepareRoute()">
        <router-outlet></router-outlet>
      </div>
    </main>
    <app-ai-chat></app-ai-chat>
  </div>
</div>
