<div class="splash" [class.splash--hidden]="isReady()">
  <div class="splash__inner">
    <div class="splash__logo">
      <app-logo style="object-fit:contain;;width:80px;height:80px;" role="img" aria-label="Centro Juan Pablo II"></app-logo>
    </div>
    <h1 class="splash__title">Juan Pablo II</h1>
    <p class="splash__subtitle">Centro de Terapias</p>
    <div class="splash__bar">
      <div class="splash__bar-fill" [class.splash__bar-fill--done]="isReady()"></div>
    </div>
  </div>
</div>
