@if (isOpen()) {
  <div class="modal-overlay">
    <div class="modal-backdrop" aria-hidden="true" (click)="closeModal()"></div>

    <div
      class="modal-panel"
      [attr.data-size]="size()"
      [class.modal-panel--allow-overflow]="allowOverflow()"
      appFocusTrap
      role="dialog"
      aria-modal="true"
      tabindex="-1"
      [attr.aria-labelledby]="titleId"
      (keydown.escape)="closeModal()"
    >
      <div class="modal-header">
        <h3 class="modal-title" [id]="titleId">{{ title() }}</h3>
        <button type="button" class="modal-close" aria-label="Cerrar" (click)="closeModal()">
          <fa-icon [icon]="['fas', 'xmark']" aria-hidden="true"></fa-icon>
        </button>
      </div>

      <div class="modal-body" [class.modal-body--allow-overflow]="allowOverflow()">
        <ng-content></ng-content>
      </div>

      <div class="modal-footer">
        <ng-content select="[modal-footer]"></ng-content>
      </div>
    </div>
  </div>
}
