<div class="card">
  @if (title() || icon()) {
    <div class="card__header">
      @if (icon()) {
        <div class="text-primary text-lg">
          <fa-icon [icon]="icon()"></fa-icon>
        </div>
      }
      <div>
        <h3 class="card__title">{{ title() }}</h3>
        @if (subtitle()) {
          <p class="card__subtitle">{{ subtitle() }}</p>
        }
      </div>

      <div class="ml-auto">
        <ng-content select="[card-header-actions]"></ng-content>
      </div>
    </div>
  }

  <div class="card__body card__body--{{ padding() }}">
    <ng-content></ng-content>
  </div>

  <div class="card__footer">
    <ng-content select="[card-footer]"></ng-content>
  </div>
</div>
